<!-- Modal to confirm user profile deletion -->
{% if user %}
    <div class="modal fade" id="modal-{{ user._id }}" tabindex="-1" role="dialog" aria-labelledby="deleteUserModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered " role="document">
            <div class="modal-content delete-content">
                <div class="modal-header delete-header">
                    <h2 class="modal-title delete-title" id="deleteUserModal" >Confirm Your Choice</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="far fa-times-circle"></i>                                             
                    </button>
                </div>
                <div class="modal-body delete-body">
                    <hr class="delete-hr">
                    <h5>Are you <strong>sure</strong> you want to delete your profile <br> <strong>{{ user.username }}</strong>?</h5>
                    <p>Your account information will be lost!</p>
                    <hr class="delete-hr">
                </div>
                <div class="modal-footer delete-footer">
                    <button type="button" class="btn delete-btn">
                        <a href="{{ url_for('delete_user', username=user.username) }}">Yes, Delete!</a>
                    </button>
                    <button type="button" class="btn delete-btn" data-dismiss="modal">No, Go Back!</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}

<!-- Modal to confirm recipe deletion -->
{% if recipes %}
    <div class="modal fade" id="modal-{{ recipes._id }}" tabindex="-1" role="dialog" aria-labelledby="deleteRecipeModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered " role="document">
            <div class="modal-content delete-content">
                <div class="modal-header delete-header">
                    <h2 class="modal-title delete-title" id="deleteRecipeModal">Confirm Your Choice</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="far fa-times-circle"></i>
                    </button>
                </div>
                <div class="modal-body delete-body">
                    <hr class="delete-hr">
                    <h5>Are you <strong>sure</strong> you want to delete the recipe for <br> <strong>{{ recipe.recipe_name }}</strong>?</h5>
                    <p>Your creation will be lost!</p>
                    <hr class="delete-hr">
                </div>
                <div class="modal-footer delete-footer">
                    <button type="button" class="delete-btn btn">
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}">Yes, Delete!</a>
                    </button>
                    <button type="button" class="delete-btn btn" data-dismiss="modal">No, Go Back!</button>
                </div>
            </div>
        </div>
    </div>  
{% endif %} 

