{% extends "base.html" %}

{% block header %}

    <!-- Page Title -->
    <h2>Internal Server Error</h2>
    
{% endblock %}

{% block content %}
    <div class="error-page">
        <img class="error-img" src="../static/images/error.png" alt="Page does not exist, click button to return home">
        <h1>Oops!</h1>
        <p>It's not you, it's us.</p> 
        <p>Don't worry, we're working on it!</p>
        <p>Click <a href="{{ url_for('home') }}">here</a> to return to safety</p>
    </div>
{% endblock %}