/*------------------------------------------------------- Font Import */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Work+Sans:wght@300;400;700&display=swap');

/*------------------------------------------------------- Root Variables */

/* General Root Variables */
:root {
    /* Font variables */ 
    --body-font: 'Work Sans', sans-serif;
    --accent-font: 'Indie Flower', cursive;
    --text: #332925;    
    
    /* Colour Variables */
    --blue: #bbf2ed;
    --purple: #8985b0;
    --pink: #e7c8e0;
    --green: #c4dac9;
    --yellow: #f1ecc9;
    --white: #ffffff;

    /* Misc. Colour Variables */
    --nav-purple: #9894b9;
    --nav-border: #3329256e;

}

/*------------------------------------------------------- Special Styling */
html, body, #notebook-bg {
    max-width:100vw;
    min-height: 100vh;
}
body {
    font-family: var(--body-font);
    color: var(--text);
    
    background-color: var(--yellow); 
    background-image: url("../images/wood-texture.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: block;
}
button:focus {
    outline: none;
}

/*------------------------------------------------------- Navbar Styling */
/* Sourced and edited from:
    https://codingyaar.com/responsive-bootstrap-navbar-center-logo/ */
.navbar {
    max-width: 90vw;
    min-height: 10vh;
    border: 0;
    margin: auto;
    padding-top: 40px;
    
    font-family: var(--accent-font);
    background: url("../images/bg-sm.png");
    background-position: top;
    background-repeat: repeat-x;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    border-bottom: 3px inset var(--nav-border);
}
.navbar .navbar-nav .nav-link {
    color: var(--text);
    font-family: var(--accent-font);
    font-size: 1.1em;
}
.navbar .navbar-nav .nav-link:hover{
    color: var(--text);
}
.navbar-brand img {
    width: 20vw;
    height: auto;
}
.navbar-collapse {
    padding: 5%;
    z-index: 102;

    font-size: 1.5rem; 
    text-align: right;
    color: var(--text); 
    line-height: 130%;
}

/* Styling for navbar toggler */
.navbar-toggler {
    margin: 12px 12px 30px 0px;
} 
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(51, 41, 37)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    /* Sourced from Stack Overflow to re-colour the toggle button on mobile devices (RGB value had to be entered instead of root variable).
    https://stackoverflow.com/questions/42586729/bootstrap-4-change-hamburger-toggler-color */
} 
.custom-toggler{
    border-color: transparent;
}
.custom-toggler:active {
    border-color: transparent;
} 

/* Defines actions to be taken by navbar on scroll - For mobile devices */
.scroll-nav.scrolled {
    background-color: var(--nav-purple) !important;
    transition: background-color 200ms linear;
}

/*------------------------------------------------------- Main Section Styling */
#main-section {
    margin: 0 5% 10% 5%; 
    background-image: url("../images/paper-texture.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: 5px 14px 20px 4px grey;  
}

/*------------------------------------------------------- Homepage Styling */
#home-title {
    max-width: 100vw;
    height: auto;
    border-bottom: 3px inset var(--nav-border);
}
#home-title img {
    width: 100%;
    height: auto;
}
#home-bio {
    padding-top: 5vh;
    padding-bottom: 3vh;
    text-align: center;
    border-bottom: 3px inset var(--nav-border);
}
#home-bio h4, h5 {
    font-family: var(--accent-font);
    font-size: 1.2em;
}
#home-bio p {
    font-size: .9em;
}
.home-btn a {
    /* Referenced and edited from:
        https://stackoverflow.com/questions/8357058/how-to-make-an-html-anchor-tag-or-link-look-like-a-button  */
    display: table;
    width: 115px;
    background: var(--text);
    padding: 10px;
    border-radius: 5px;
    color: var(--white);
    line-height: 25px;
    font-family: var(--accent-font);
    margin: auto;
}

/*------------------------------------------------------- Footer Styling */
footer {
    background-image: url("../images/nav-bg.png");
    background-color: var(--white);
    background-repeat: repeat-x;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    max-width: 95vw;
    max-height: 7vh;
    margin: 0 5%;
}

footer ul {
    font-family: var(--accent-font);
    color: var(--text);
    font-size: 1.3em;
    margin: 2%;
}

.hide-disclaimer {
    /* Disclaimer notice is hidden by default */
    display: none;
}


/*------------------------------------------------------- Media Queries */

/* Breakpoint to maintain structural integrity on a Tablet device */
@media (min-width: 700px) and (max-width: 991px) {

}

/* Breakpoint to maintain structural integrity on a Laptop Screen */
@media (min-width: 991px){ 

}

/*------------------------------------------------------- 404 Page Styling */
