/*------------------------------------------------------- Font Import */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Work+Sans:wght@300;400;700&display=swap');

/*------------------------------------------------------- Root Variables */

/* General Root Variables */
:root {
    /* Font variables */ 
    --body-font: 'Work Sans', sans-serif;
    --accent-font: 'Indie Flower', cursive;
    --text: #332925;    
    
    /* Colour Variables */
    --blue: #bbf2ed;
    --purple: #8985b0;
    --pink: #e7c8e0;
    --green: #bce0cc;
    --yellow: #f1ecc9;
    --white: #ffffff;
    --red: #b65353;

    /* Misc Colour Variables */
    --nav-purple: #9894b9;
    --border-line: #3329256e;
    --dark-box: rgba(0,0,0,0.8);
    --light-box: rgba(0, 0, 0, 0.534);

}

/*------------------------------------------------------- Special Styling */
html, body {
    max-width: 100vw;
    min-height: 100vh;
}
body {
    font-family: var(--body-font);
    color: var(--text);
    
    background-color: var(--yellow); 
    background-image: url("../images/wood-texture.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: block;
}
a:hover {
    text-decoration: none;
}

li {
    list-style-type: none;
}
.iconify {
    color: var(--text);
}

/*------------------------------------------------------- Navbar */
/* Sourced and edited from:
    https://codingyaar.com/responsive-bootstrap-navbar-center-logo/ */
.navbar {
    max-width: 95vw;
    min-height: 10vh;
    border: 0;
    margin: auto;
    padding-top: 45px;
    
    font-family: var(--accent-font);
    background: url("../images/bg-sm.png");
    background-position: top;
    background-repeat: repeat-x;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    border-bottom: 3px inset var(--border-line);
}
.navbar .navbar-nav .nav-link {
    color: var(--text);
    font-family: var(--accent-font);
    font-size: 1.1em;
}
.navbar .navbar-nav .nav-link:hover{
    color: var(--text);
}
.navbar-brand img {
    width: 20vw;
    height: auto;
}
.navbar-collapse {
    padding: 5%;
    z-index: 102;

    font-size: 1.5rem; 
    text-align: right;
    color: var(--text); 
    line-height: 130%;
}

/* Styling for navbar toggler */
.navbar-toggler {
    margin: 12px 12px 30px 0px;
} 
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(51, 41, 37)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    /* Sourced from Stack Overflow to re-colour the toggle button on mobile devices (RGB value had to be entered instead of root variable).
    https://stackoverflow.com/questions/42586729/bootstrap-4-change-hamburger-toggler-color */
} 
.custom-toggler{
    border-color: transparent;
}
.custom-toggler:active {
    border-color: transparent;
} 

/* Defines actions to be taken by navbar on scroll - For mobile devices
    Sourced from https://jsfiddle.net/we9L9h2r/ */
#scroll-nav.scrolled {
    background-color: var(--nav-purple) !important;
    transition: background-color 200ms linear;
    border-bottom: 3px inset var(--border-line);
}

/*------------------------------------------------------- Main Section */
/* For the block content unique to each page */
#main-section {
    max-width: 95vw;
    margin: auto; 
    padding-bottom: 5%;
    background-image: url("../images/paper-bg.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: 5px 14px 20px 4px grey;  
    border-bottom: 3px inset var(--border-line);
}
/* For consistent design on all pages */
.page-banner {
    background-image: url("../images/banner.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-bottom: 3px inset var(--border-line);
    text-align: center;
    padding: 20px 10px;
} 
.page-banner h2 {
    font-family: var(--accent-font);
    font-size: 2em;
}
.db-name {
    font-family: var(--body-font);
}
.page-padding {
    padding: 3% 4%;
}
.page-intro {
    text-align: center;
}

/*------------------------------------------------------- Recipe Cards */
/* General styling for Recipe Cards throughout */
.card {
    background-image: url("../images/white-lined.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 15px;
    
    /* Sourced from http://jsfiddle.net/Zw4QA/1/ */
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

    -webkit-box-shadow: var(--dark-box) 0px 0 10px;
    -moz-box-shadow: var(--dark-box) 0 0 10px;
    box-shadow: var(--dark-box) 0 0 10px;
}
.recipe-cards {
    margin: 15px 2px;
    padding: 10px;   
}
.recipe-name {
    text-align: center;
    font-family: var(--accent-font);
}
.recipe-name a {
    color: var(--text);
    font-size: 1.1em;
}
.recipe-card-img {
    padding: 2%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: auto;
    display: flex;
    width: 95%;
    height: 300px;
    object-fit: cover;

    -webkit-box-shadow: var(--dark-box) 0px 0 10px;
    -moz-box-shadow: var(--dark-box) 0 0 10px;
    box-shadow: var(--dark-box) 0 0 10px;
}
.card-body {
    padding: 5%;
    min-width: 100%;
    margin: auto;
}

/*------------------------------------------------------- Homepage */
#home-title {
    max-width: 100vw;
    height: auto;
    border-bottom: 3px inset var(--border-line);
}
#home-title img {
    width: 100%;
    height: auto;
}
#home-bio {
    padding-top: 5vh;
    padding-bottom: 3vh;
    text-align: center;
    border-bottom: 3px inset var(--border-line);
}
#home-bio h4 {
    font-family: var(--accent-font);
    font-size: 1.5em;
}
#home-bio h5 {
    font-family: var(--accent-font);
    font-size: 1.2em;
}
#home-bio p {
    font-size: .9em;
}
#home-btn {
    margin: auto;
}
#home-btn a {
    /* Referenced and edited from:
        https://stackoverflow.com/questions/8357058/how-to-make-an-html-anchor-tag-or-link-look-like-a-button  */
    display: table;
    min-width: 100%;
    background: var(--text);
    padding: 10px;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;

    color: var(--white);
    line-height: 30px;
    font-family: var(--accent-font);
    margin: auto;
    font-size: 1.2em;
}
#home-btn a:hover {
    background: var(--white);
    color: var(--text);
}
#home-carousel {
    padding: 3% 2%;
}
.carousel-inner {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: var(--dark-box) 0px 0 10px;
    -moz-box-shadow: var(--dark-box) 0 0 10px;
    box-shadow: var(--dark-box) 0 0 10px;
}

/* Sourced from Stack Overflow to re-colour the carousel control buttons (RGB value had to be entered instead of root variable).
    https://stackoverflow.com/questions/46249541/change-arrow-colors-in-bootstraps-carousel */
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23c4dac9' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.carousel-control-prev-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23c4dac9' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important; 
}

/*------------------------------------------------------- Find Recipes Page */
#search-function {
    margin: auto;
}
#search-bar {
    background-color: var(--white);
    font-size: 1em;
    -webkit-box-shadow: var(--dark-box) 0px 0 10px;
    -moz-box-shadow: var(--dark-box) 0 0 10px;
    box-shadow: var(--dark-box) 0 0 10px;
}
#search-bar input.form-control {
    background-color: transparent;
    border: none;
}
#search-filter {
    background-color: var(--text);
    max-width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 10px;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: var(--dark-box) 0px 0 10px;
    -moz-box-shadow: var(--dark-box) 0 0 10px;
    box-shadow: var(--dark-box) 0 0 10px;
}
#filter-text {    
    max-width: 90%;
    margin: 6px 12px 0px 12px;
}
#filter-text h2 {
    width: 100%;
    font-size: 1.1em;
    color: var(--white);
}
#search-filter button {
    width: 100%;
    background-color: var(--white);
    color: var(--text);
}
.dropdown-menu {
    background-color: var(--text);
}
.dropdown-item {
    color: var(--white);
    width: 50%;
}
#search-recipes {
    width: 100%;
    border-top: 3px inset var(--border-line);
    margin: 20px 0 0 0;
}
#search-rec {
    text-align: center;
}
#search-rec h3 {
    font-family: var(--accent-font);
    font-size: 1.8em;
}
#search-rec p {
    font-size: 1.2em;
}


/*------------------------------------------------------- Accounts Page */
/* Sign Up and Log In are style the same for consistency */
.accounts-bg {
    background-image: url("../images/yellow-lined.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: 5px 14px 20px 4px grey; 
    
    margin: auto;
    padding: 30px 10px 10px 10px;
    border-radius: 10px;
    justify-content: center;
}
.accounts-label label {
    text-align: center;
    font-size: 1.1em;
    padding-left: 5px;
}
.accounts-label small {
    padding-left: 5px;
}
.accounts-btn {
    display: flex;
    justify-content: center;
}
.accounts-btn button {
    margin: auto;
    max-width: 70%;
    font-size: 1.6em;
    background: var(--text);
    color: var(--white);
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px var(--light-box); 
}
.accounts-btn button:hover {
    background-color: var(--white);
    color: var(--text);
}
.accounts-link {
    text-align: center;
    padding: 25px 15px 0px 15px;
}
.accounts-link a {
    background: var(--text);
    padding: 5px 10px;
    border-radius: 20px;
    color: var(--white);
    box-shadow: 3px 3px 3px 3px var(--light-box); 
}
.accounts-link a:hover{
    background-color: var(--white);
    color: var(--text);
}

/* Specific to Login */
#login-page.page-padding {
    min-height: 65vh;
}

/* Specific to Edit User */
.edit-btn {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 20px;
    font-size: 1.3em;
}
.edit-btn button, .edit-btn a {
    min-width: 80%;
    background-color: var(--text);
    color: var(--white);
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px var(--light-box); 
    padding: 10px 15px;
}
.edit-btn button {
    padding: 8px 15px;
}
.edit-btn button:hover, .edit-btn a:hover {
    background: var(--white);
    color: var(--text);
    border: none;
}
#delete-user-btn {
    text-align: center;
    padding: 15px;
    margin: auto;
    font-size: .7em;
}

/*------------------------------------------------------- Create/Edit Recipe Page */
/* Create and Edit a Recipe pages are style the same for consistency */
.create-bg {
    background-image: url("../images/yellow-lined.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: 5px 14px 20px 4px grey; 

    margin: auto;
    padding: 30px 5px 10px 5px;
    border-radius: 10px;
    justify-content: center;
}
.create-label label {
    text-align: center;
    font-size: 1.1em;
    padding-left: 5px;
}
.img-container {
    background-image: url("../images/white-texture.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0 auto 1rem auto;
    padding: 15px;
    display: none;
    justify-content: center;
    max-width: 80%;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

    -webkit-box-shadow: var(--dark-box) 0px 0 10px;
    -moz-box-shadow: var(--dark-box) 0 0 10px;
    box-shadow: var(--dark-box) 0 0 10px;
}
.img-preview {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    
    max-height: 15rem;
    max-width: 100%;    
}
.add-ing-btn, .add-dir-btn, .remove_field {
    background-color: var(--text);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: .9em;
    float: right;
    color: var(--white);
    box-shadow: 3px 3px 3px 3px var(--light-box); 
}
.remove_field {
    margin-top: 5px;
}
.add-ing-btn:hover, .add-dir-btn:hover, .remove_field:hover {
    color: var(--text);
    background-color: var(--white);
}
.create-btn {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px 15px;
}
.create-btn button, .create-btn a {
    min-width: 90%;
    background-color: var(--text);
    color: var(--white);
    box-shadow: 3px 3px 3px 3px var(--light-box); 
}
.create-btn button:hover, .create-btn a:hover {
    background-color: var(--white);
    color: var(--text);
}
#delete-recipe-btn {
    text-align: center;
    padding: 15px;
    margin: auto;
    font-size: .7em;
    margin-bottom: 2%;
}

/*------------------------------------------------------- My Recipes/Favourites Page */
/* My Recipes and My Favourites pages are style the same for consistency */
.profile-info {
    margin: 20px auto;
}
.profile-img-box {
    background-image: url("../images/white-lined.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    padding: 10px;
    margin: auto;
    display: flex;
    width: 95%;
    height: 300px;

    /* Used to fix issue between border radius and shadow
        http://www.corelangs.com/css/box/shadow.html */
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

    -webkit-box-shadow: var(--dark-box) 0px 2px 10px 2px;
    -moz-box-shadow: var(--dark-box) 0 2px 10px 2px;
    box-shadow: var(--dark-box) 0 2px 10px 2px;
}
.profile-img {
    min-width: 100%;
    min-height: 100%;
    padding: 5px;
}
.profile-img img {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: var(--dark-box) 0px 0 10px;
    -moz-box-shadow: var(--dark-box) 0 0 10px;
    box-shadow: var(--dark-box) 0 0 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile-btns {
    margin: 10px auto;
    text-align: center;
}
.profile-btns a {
    display: table;
    min-width: 90%;
    background: var(--text);
    padding: 10px 5px;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;

    color: var(--white);
    line-height: 20px;
    font-family: var(--accent-font);
    margin: 5px auto;
}
.profile-btns a:hover {
    color: var(--text);
    background: var(--white);        
}
.profile-recipes {
    border-top: 3px inset var(--border-line);
    margin: 10px auto;
    padding-top: 10px;
}

/*------------------------------------------------------- Individual Recipe Page */
#recipe-intro {
    background-image: url("../images/white-texture.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    margin: auto;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

    -webkit-box-shadow: var(--dark-box) 0px 2px 10px 2px;
    -moz-box-shadow: var(--dark-box) 0 2px 10px 2px;
    box-shadow: var(--dark-box) 0 2px 10px 2px;
}
#recipe-img-box {
    margin: 5% auto 1% auto;
    display: flex;
    justify-content: center;
    max-width: 90%;
    height: 300px;
    padding: 0px;   
}
#recipe-img {
    min-width: 100%;
    min-height: 100%;
    padding: 5px;
}
#recipe-img img {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: var(--dark-box) 0px 0 10px;
    -moz-box-shadow: var(--dark-box) 0 0 10px;
    box-shadow: var(--dark-box) 0 0 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#recipe-info-box {
    max-width: 95%;
    margin: 2% auto;
    display: flex;
}
#rec-info {
    margin: 2% auto;
    max-width: 100%;
}
#rec-description p {
    font-size: 1.3em;
    font-family: var(--accent-font);
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 3px solid var(--border-line);
}
#rec-description a {
    color: var(--text);
    font-family: var(--body-font);
    font-size: .8em;
}
#rec-stats {
    margin: 5px auto;
    padding: 2px;
}
#rec-btns {
    padding: 20px 10px 5px 10px;
    text-align: center;
}
.recipe-btn {
    display: flex;
    justify-content: center;
    margin: auto;
}
.recipe-btn a {
    background-color: var(--text);
    color: var(--white);
    min-width: 100%;
    padding: 10px;
    border: 2px solid var(--light-box);

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

    -webkit-box-shadow: 3px 3px 3px 3px var(--light-box); 
    -moz-box-shadow: 3px 3px 3px 3px var(--light-box); 
    box-shadow: 3px 3px 3px 3px var(--light-box); 
}
.recipe-btn a:hover {
    background-color: var(--white);
    color: var(--text);
}
#rec-ingredients {
    background-image: url("../images/white-texture.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

    margin: 10% auto;
    display: flex;
    max-width: 95%;
    padding: 10px;

    -webkit-box-shadow: var(--dark-box) 0px 2px 10px 2px;
    -moz-box-shadow: var(--dark-box) 0 2px 10px 2px;
    box-shadow: var(--dark-box) 0 2px 10px 2px;

    justify-content: center;
}
#ingredient-title {
    padding-top: 15px;
    font-size: 1.5em;
    border-left: 1px solid var(--red);
    font-family: var(--accent-font);
}
#ingredient-title-line {
    border-right: 1px solid var(--red);
    max-width: 2%;
}
#ingredient-line {
    /* Dynamic lines for each ingredient
        Reference: https://jsfiddle.net/chriscoyier/KVjFQ/1/ */
    border-right: 1px solid var(--red);
    border-top: 1px solid var(--red);
    max-width: 2%;
}
#ingredient-list {
    padding-top: 5px;
    border-left: 1px solid var(--red);
    border-top: 1px solid var(--red);
}
#ingredient-list p {
    border-bottom: 1px dotted var(--border-line);
    text-transform: capitalize;
}
#rec-directions {
    margin: 5% auto;
}
#rec-directions ol{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#rec-directions ol li:first-child {
    /* sourced and edited from :
        https://code.tutsplus.com/tutorials/create-a-sticky-note-effect-in-5-easy-steps-with-css3-and-html5--net-13934  */
    background-image: url(../images/stickynote-bg.png);
    min-width: 100%;
    padding: 10px;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    border-radius: 15px;
}
#rec-directions ol li:not(:first-child) {
    background-image: url(../images/stickynote-bg.png);
    min-width: 100%;
    padding:1em;
    border-radius: 10px;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    transform: rotate(-1deg);
    margin:1em;
}
#rec-directions ol li:nth-child(even) {
    transform:rotate(1deg);
    position:relative;
    top:5px;
}
#directions-list {
    padding-left: 0;
}
#directions-list h3 {
    font-size: 1.8em;
    text-align: center;
    font-family: var(--accent-font);
    text-decoration: underline;
}

/*------------------------------------------------------- Footer */
footer {
    background-image: url("../images/paper-bg.png");
    background-color: var(--white);
    background-repeat: repeat-x;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    max-width: 95vw;
    min-height: 8vh;
    margin: auto;
    padding: 2%;
    text-align: center;
}
footer ul {
    font-family: var(--body-font);
    color: var(--text);
    padding-left: 0;
}
footer li {
    display: inline;
}
#dev-info {
    font-size: .8em; 
}

.hide-disclaimer {
    /* Disclaimer notice is hidden by default */
    display: none;
}
.iconify.footer-btn {
    font-size: 1.3em;
    cursor: pointer;
}
.iconify.footer-btn:hover {
    color: var(--white);
}

/*------------------------------------------------------- Form Modal */
.form-content {
    background-image: url("../images/paper-bg.png");
    color: var(--text);

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.form-header {
    border: none;
    padding-bottom: 0;
    font-family: var(--accent-font);
    letter-spacing: 1px;
}
.form-header h4 {
    font-size: 1.8em;
}
.form-header p {
    margin-bottom: 0;
}
.form-body {
    padding-top: 1rem;
}
/* Edited from W3School's example to style contact form 
        reference: https://www.w3schools.com/howto/howto_css_contact_form.asp */
.form-body input[type='text'], .form-body input[type='email'], .form-body textarea {
    width: 100%;
    padding: 7px;
    border: 2px solid var(--light-box);

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    margin-top: 6px;
    margin-bottom: 1px;
    resize: none;
}
.form-btn {
    float: right;
    background-color: var(--text);
    color: var(--white);
}
.form-btn:hover {
    background-color: var(--white);
    color: var(--text);
}
/* Edited from W3School's CSS placeholder example for better readability and consistency 
    reference: https://www.w3schools.com/howto/howto_css_placeholder.asp */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--text);;
    font-family: var(--accent-font);
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--text);;
    font-family: var(--accent-font);
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--text);;
    font-family: var(--accent-font);
}
.error {
    /* Default class with JQuery Form Validator plugin */
    color: var(--white);
    font-weight: 700;
}

/*------------------------------------------------------- Delete Modals */
.delete-content {
    background-image: url("../images/paper-bg.png");
    color: var(--text);

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.delete-header {
    border: none;
}
.delete-title {
    font-family: var(--accent-font);
    font-size: 2em;
}
.delete-hr {
    background-color: var(--border-line);
    width: 80%;
}
.delete-body {
    margin: 5px 10px;
    text-align: center;
    font-size: 1em;
}
.delete-footer {
    margin: auto;
    border: none;
}
.delete-btn, .delete-btn a {
    background-color: var(--white);
    color: var(--text);
    font-size: 1.1em;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.delete-btn:hover, .delete-btn a:hover{
    background-color: var(--text);
    color: var(--white);
}

/*------------------------------------------------------- Media Queries */

/* Breakpoint to maintain structural integrity on a Tablet device */
@media (min-width: 700px) and (max-width: 991px) {
    
    /* -- Navbar -- */
    .navbar {
        padding-top: 80px;
    }

    /* -- Recipe Cards -- */
    .card-body {
        font-size: 1.1em;
    }
    .recipe-card-img {
        width: 95%;
        height: 300px;
    }
    .recipe-cards {
        margin: 10px auto;
        padding: 0 7px;
    }

    /* -- Main Page Section -- */
    .page-padding {
        padding: 3% 4%;
    }
    .page-banner h2 {
        font-size: 3em;
    }
    .page-intro {
        font-size: 1.3em;
    }
    .db-name h4 {
        font-size: 1.7em;
    }

    /* -- Homepage -- */
    #home-bio h4{
        font-size: 3em;
    }
    #home-bio h5 {
        font-size: 1.8em;
    }
    #home-bio p {
        font-size: 1.3em;
    }
    #home-btn {
        margin: auto;
        text-align: center;
        max-width: 70%;
    }
    #home-btn a {
        padding: 20px;
        line-height: 40px;
        font-size: 2.3em;
    }
    #home-carousel {
        padding-left: 10%;
        padding-right: 10%;
        max-width: 100%;
        text-align: left;
    }
    #carousel-img.recipe-card-img {
        /* Accommodated the col size change on home page */
        height: 500px;
    }
    .carousel-item .recipe-name {
        text-align: left;
    }
    .carousel-item .recipe-name a {
        font-size: 1.4em;
    }
    
    /* -- Find Recipes -- */
    #search-function {
        max-width: 70%;
    }
    #search-bar input, #search-bar button { 
        font-size: 1.3em;
    }
    #search-filter {
        max-width: 50%;
    }
    #search-recipes {
        margin-top: 30px;
        padding-top: 20px;
    }

    /* -- Accounts Pages -- */
    .accounts-bg {
        margin: 2% 10%;
    }
    .accounts-label input {
        margin: auto;
        max-width: 90%;
    }
    .accounts-label label {
        margin: auto;
        font-size: 1.3em;
        padding-left: 25px;
    }
    .accounts-label small {
        padding-left: 25px;
    }
    .accounts-link {
        font-size: 1.2em;
    }
    #login-page.page-padding {
        min-height: 30vh;
    }
    .edit-btn {
        max-width: 40%;
        font-size: 1.5em;
    }
    #delete-user-btn {
        max-width: 70%;
        font-size: 1em;
    }

    /* -- Create/Edit Recipe Profile */
    .create-bg {
        margin: 1% 10%;
    }
    .create-label label {
        font-size: 1.2em;
    }
    .img-container {
        max-width: 40%;
        padding: 10px;
    }
    .img-preview {
        max-height: 10rem;
    }
    .create-btns {
        margin: 1% 10%;
    }
    #delete-recipe-btn {
        max-width: 50%;
        font-size: 1em;
    }

    /* -- My Recipes/Favourites Page */
    .profile-img-box {
        width: 80%;
        height: 300px;
    }
    .profile-btns {
        margin: auto;
    }
    .profile-btns a {
        line-height: 40px;
        font-size: 1.5em;
    }
    .profile-recipes {
        margin: 15px auto;
        padding-top: 30px;
    }

    /* -- Individual Recipe Page */
    #recipe-intro {
        padding: 10px;
    }
    #recipe-info-box {
        margin: auto;
        padding: 10px;
    }
    #rec-info p {
        font-size: 1.1em;
    }
    .faves-btn {
        max-width: 80%;
    }
    #recipe-img-box {
        margin: auto;
        padding: 5px 20px;
    }

}

/* Breakpoint to maintain structural integrity on a Laptop Screen */
@media (min-width: 991px){ 

    /* -- Background -- */
    #content-div {
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 15px;
    }
    #lg-left {
        padding-top: 10px;
        max-width: 3vw;
        height: 98vh;
        margin: 0;
        padding-right: 0;
    }
    #lg-left img {
        height: 98vh;
    }
    #lg-right {
        background-image: url("../images/paper-bg.png");
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        min-width: 93vw;
        height: 98vh;
        margin-top: 10px;

        overflow: auto;
        box-shadow: 13px 19px 8px 2px grey;
        padding-left: 0;
    }

    /* -- Navbar -- */
    .navbar {
        background-image: url("../images/paper-bg.png");
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        min-width: 90vw;
        max-height: 10vh;
        padding-top: 10vh;
    }
    .navbar-collapse {
        /* removes unwanted hanging padding to avoid conflict */
        padding: 2vh 0 0 0;
    }
    .navbar-nav > li {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 2vh;
    }
    #lg-logo img {
        width: 10vw;
        height: auto;
    }

    /* -- Main Page Section -- */
    #main-section {
        background: transparent;
        box-shadow: 0px 0px grey;
        padding-bottom: 1%;
    }
    .page-banner {
        padding: 100px 20px 40px 20px ;
    }
    .page-padding {
        padding: 20px 30px;
    }
    .page-banner h2 {
        font-size: 4em;
    }
    .page-intro {
        font-size: 1.3em;
    }
    .page-banner br {
        display: none;
    }
    .db-name h4 {
        font-size: 2em;
    }

    /* -- Recipe Cards -- */
    .recipe-card-img {
        width: 95%;
        height: 400px;
    }
    .recipe-name {
        text-align: left;
    }
    .recipe-text span {
        font-size: 1.3em;
    }
    .recipe-icon.iconify {
        font-size: 1.3em;
    }
    .recipe-cards {
        margin: 15px auto;
        padding: 0 5px;
    }

    /* -- Homepage -- */
    #home-sec {
        padding: 2%;
    }
    #home-bio {
        padding: 0;
        margin: auto;
        border: none;
    }
    #home-bio h4 {
        font-size: 4em;
    }
    #home-bio p {
        font-size: 1.5em;
    }
    #home-bio h5 {
        font-size: 2em;
    }
    #home-btn a {
        min-width: 40%;
        max-width: 40%;
        font-size: 1.4em;
        padding: 15px;
        margin: 5px auto;
    }
    #latestRecipes {
        max-width: 80%;
        margin: auto;
    }
    .carousel-item .recipe-name a {
        font-size: 1.5em;
    }
    
    /* -- Find Recipes -- */
    #search-function {
        max-width: 50%;
    }
    #search-bar input, #search-bar button { 
        font-size: 1.5em;
    }
    #search-filter {
        padding: 10px;
        max-width: 30%;
    }
    #filter-text h2 {
        font-size: 1.3em;
    }
    #search-filter button {
        padding: 5px 20px;
    }
    #search-recipes {
        padding-top: 40px;
    }

    /* -- Accounts Page -- */
    .accounts-bg {
        margin: 2% 35%;
    }
    .accounts-label input {
        margin: auto;
        max-width: 90%;
    }
    .accounts-label label {
        margin: auto;
        font-size: 1.3em;
        padding-left: 35px;
    }
    .accounts-label small {
        padding-left: 35px;
    }
    .accounts-link {
        font-size: 1.2em;
    }
    #login-page.page-padding {
        min-height: 30vh;
    }
    #edit-btns {
        max-width: 70%;
        font-size: 1.5em;
    }
    #delete-user-btn {
        max-width: 70%;
        font-size: 1em;
    }

    /* Create/Edit Recipe Page */
    .create-bg {
        margin: 2% 20%;
    }
    .create-label {
        font-size: 1.2em;
    }
    .img-container {
        max-width: 50%;
    }
    .create-btns {
        margin: 1% 20%;
    }
    .create-btn button, .create-btn a {
        font-size: 1.3em;
    }
    #delete-recipe-btn {
        max-width: 60%;
        font-size: 1em;
    }

    /* -- My Recipes/Favourites Page */
    .profile-info {
        overflow: hidden;
    }
    .profile-img-box {
        max-width: 90%;
        height: 400px;
    }
    .profile-img {
        padding: 10px;
    }
    .profile-btns {
        margin: 20px auto;
    }
    .profile-btns a {
        min-width: 50%;
        max-width: 50%;
        font-size: 1.5em;
    }
    .profile-recipes {
        border: none;
        padding-top: 0;
    }
    .profile-scroll.row {
        overflow: auto;
        height: 700px;
    }

    /* -- Individual Recipe Page */
    #recipe-intro {
        margin: 4% 5% 2% 5%;
        padding: 20px 10px;
    }
    #recipe-info-box {
        margin: auto;
        max-width: 40%;
        padding: 20px;
    }
    #rec-info p {
        font-size: 1.5em;
    }
    #rec-specs {
        margin: auto;
        max-width: 95%;
    }
    #recipe-img-box {
        margin: auto;
        padding: 20px;
        max-width: 60%;
        height: 500px;
    }
    #rec-ingredients {
        margin: 10% 5% 5% 10%;
        padding: 0 0 0 20px;
    }
    #rec-directions {
        padding: 0 40px 0 0;
    }

    /* -- Footer -- */
    footer {
        max-width: 93vw;
        margin: auto;
    }
    
}

/*------------------------------------------------------- 404 Page Styling */
