{% extends "base.html" %}

{% block header %}

    <!-- Page Title -->
    <h2>User Stats</h2>
    
{% endblock %}

{% block content %}
    {% for user in users %}
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    {{ user.username }}
                    </button>
                </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    {{ user.username }}
                </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}