{% extends "base.html" %}
{% block content %}

    <section aria-label="Edit recipe Page">
        <!-- Banner image -->
        <div class="banner-img">
            <img src="../static/images/banner.png" alt="Bake It Til You Make it Banner Image">
        </div>

        <div class="container-fluid page-padding">

            <!-- Page Title -->
            <div class="row">
                <div class="col-12 page-title">
                    <h2>Edit <span class="db-name">{{ recipe.recipe_name }}</span></h2>
                </div>
            </div>

            <div class="row create-bg">
                <form class="col-12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">

                    <!-- Recipe Name -->
                    <div class="row">
                        <div class="col-12 form-group create-label">
                            <label for="recipe_name"><span class="iconify" data-icon="ic:round-drive-file-rename-outline" data-inline="true"></span> Recipe Name</label>
                            <input id="recipe_name" class="form-control" name="recipe_name" type="text" minlength="3" aria-describedby="recipe_name" value="{{ recipe.recipe_name }}" required />
                        </div>
                    </div>

                    <!-- Image URL -->
                    <div class="row">
                        <div class="col-12 form-group create-label">
                            <label for="recipe_img"><i class="far fa-images"></i> Recipe Image <small>(URL)</small></label>
                            <input id="recipe_img" class="form-control" name="recipe_img" type="url" aria-describedby="recipe_img" pattern="https?://.+" value="{{ recipe.recipe_img }}" required />
                        </div>
                    </div>

                    <!-- Recipe Source -->
                    <div class="row">
                        <div class="col-12 form-group create-label">
                           <label for="recipe_url"><span class="iconify" data-icon="akar-icons:book" data-inline="true"></span> Recipe Source <small>(URL)</small></label>
                            <input id="recipe_url" class="form-control" name="recipe_url" type="url" aria-describedby="recipe_url" pattern="https?://.+" value="{{ recipe.recipe_url }}" required />
                        </div>
                    </div>

                    <!-- Category and Level -->
                    <div class="row">
                        <div class="col-12 form-group create-label">
                            <div class="row">
                                <div class="col-6">
                                    <label for="category"><span class="iconify" data-icon="ion:file-tray" data-inline="true"></span> Category</label>
                                    <select id="category" name="category" class="form-control" required>
                                        <option value="" disabled selected>{{ recipe.category }}</option>
                                        {% for category in categories %}
                                            <option value="{{ category.category }}">{{ category.category }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-6">
                                    <label for="difficulty"><span class="recipe-icon iconify" data-icon="mdi:chef-hat" data-inline="true"></span> Level</label>
                                    <select id="difficulty" name="difficulty" class="form-control" required>
                                        <option value="" disabled selected>{{ recipe.difficulty }}</option>
                                        {% for level in difficulty %}
                                            <option value="{{ level.difficulty }}">{{ level.difficulty }}</option>
                                        {% endfor %}
                                    </select> 
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Prep time and Servings -->
                    <div class="row">
                        <div class="col-12 form-group create-label">
                            <div class="row">
                                <div class="col-6">
                                    <label for="total_time"><span class="recipe-icon iconify" data-icon="ant-design:clock-circle-filled" data-inline="true"></span> Total Time</label>
                                    <select name="total_time" id="total_time" name="total_time" class="form-control" aria-describedby="total_time" required>
                                        <option value="" disabled selected>{{ recipe.total_time }}</option>
                                        <option value="Less than 20">Less than 20 min</option>
                                        {% for time in range(20, 120, 10) %}
                                            <option value="{{ time }}">{{ time }} min</option>
                                        {% endfor %}
                                        <option value="More than 120">More than 120 min</option>
                                    </select>
                                </div>
                                <div class="col-6">
                                    <label for="serving"><span class="recipe-icon iconify" data-icon="majesticons:users" data-inline="true"></span> Serves:</label>
                                    <select name="serving" id="serving" name="serving" class="form-control" aria-describedby="serving" required>
                                        <option value="" disabled selected>{{ recipe.serving }}</option>
                                        <option value="1 person">1 person</option>
                                        {% for num in range(2, 21) %}
                                            <option value="{{ num }}">{{ num }} people</option>
                                        {% endfor %}
                                        <option value="More than 20">More than 20 people</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Description -->
                    <div class="row">
                        <div class="col-12 form-group create-label">
                           <label for="description"><i class="far fa-file-alt"></i> Recipe Description</label>
                           <textarea id="description" class="form-control" name="description" aria-describedby="description" minlength="3" maxlength="300" rows="3" required>{{ recipe.description }}</textarea>
                        </div>
                    </div>

                    <!-- Ingredients -->
                    <div class="row ingredient-row create-label">
                        {% for ingredient in recipe.ingredients %}
                            <div class="col-12 form-group ing-input">
                                {% if loop.index == 1 %}
                                    <!-- Avoids repetition of label -->
                                    <label for="ingredients"><i class="fas fa-list-ul"></i> Ingredients</label>
                                {% endif %}
                                <input id="ingredients" class="form-control" name="ingredients" type="text" aria-describedby="ingredients" minlength="3" value="{{ ingredient }}" required />
                                <!-- Prevents deletion of first ingredient row -->
                                {% if loop.index != 1 %}
                                    <a href="#" class="remove_field"><i class="fas fa-trash-alt"></i> Delete</a>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>

                    <!--Add Ingredient button-->
                    <div class="row">
                        <div class="col-12 form-group create-label">
                            <a href="#">
                                <p class="add-ing-btn"><i class="far fa-plus-square"></i> Add Ingredient</p>
                            </a>
                        </div>
                    </div>

                    <!-- Directions -->
                    <div class="row direction-row create-label">
                        {% for direction in recipe.directions %}
                            <div class="col-12 form-group dir-input">
                                {% if loop.index == 1 %}
                                    <!-- Avoids repetition of label -->
                                    <label for="directions"><i class="fas fa-list-ol"></i> Directions</label>
                                {% endif %}
                                <textarea id="directions" class="form-control" name="directions" type="text" aria-describedby="directions" minlength="3" maxlength="300" rows="2" required >{{ direction }}</textarea>
                                <!-- Prevents deletion of first ingredient row -->
                                {% if loop.index != 1 %}
                                    <a href="#" class="remove_field"><i class="fas fa-trash-alt"></i> Delete</a>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="row">
                        <div class="col-12 form-group create-label">
                            <a href="#">
                                <p class="add-dir-btn"><i class="far fa-plus-square"></i> Add Direction</p>
                            </a>
                        </div>
                    </div>

                    <!-- Buttons -->
                    <div class="row no-gutters create-btns">
                        
                        <div class="col-6 create-btn">
                            <a href="{{ url_for('recipe', recipe_id=recipe_id) }}" class="back  btn btn-cancel" >Cancel</a>
                        </div>

                        <div class="col-6 create-btn">
                            <button class="btn" type="submit" name="action">Save Changes</button>
                        </div>
                        
                    </div>

                    <div class="row">
                        <div id="delete-recipe-btn" class="col-12 create-btn">
                            <button type="button" class="btn" data-toggle="modal" data-target="#deleteRecipeModal">
                                Delete
                            </button>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="deleteRecipeModal" tabindex="-1" role="dialog" aria-labelledby="deleteRecipeModal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteRecipeModal">Confirm Your Choice</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <h4>Are you sure you want to <strong>DELETE</strong> the recipe?</h4>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary">
                                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}">Delete</a>
                                    </button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>   
                </form>
            </div>
        </div>
    </section>

{% endblock %}