{% extends "base.html" %}
{% block content %}

	<section aria-label="Find Recipes Page">

        <!-- Banner image -->
        <div class="banner-img">
            <img src="../static/images/banner.png" alt="Bake It Til You Make it Banner Image">
        </div>

        <!-- Search Functionality -->
        <div id="search-sec" class="container-fluid">

            <!-- Page Title -->
            <div class="row">
                <div id="search-title" class="col-12">
                    <h2>Find Your Inspiration!</h2>
                    <p>Browse through our collection to find your next creation!</p>
                </div>
            </div>

            <!-- Search Bar -->
            <div class="row">
                <div class="col-12">
                    <form action="{{ url_for('search')}}" method="POST">
                        <div class="container-fluid">
                            <div class="row">
                                <div id="search-bar" class="col-12">
                                    <input type="text" name="query" id="query" minlength="3" placeholder=" What are you looking for?" class="validate" required>
                                    <label class="sr-only" for="query">Search Bar</label>
                                </div>
                                <div id="search-btns" class="col-12">
                                    <button type="submit">
                                        <i class="search-btn iconify" data-icon="el:search" data-inline="true">Search</i>
                                    </button>
                                    <button>
                                        <a href="{{ url_for('find_recipes') }}"><i class="search-btn iconify" data-icon="fa-solid:redo" data-inline="true">Reset</i></a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Dropdown Filters -->
            <div id="search-filter" class="row">
                <div class="col-6 dropdown">
                    <button class="btn dropdown-toggle" type="button" id="CategoryFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Category
                    </button>
                    <div class="dropdown-menu" aria-labelledby="CategoryFilter">
                        <a class="dropdown-item" href="{{ url_for('category_filter', id='Bread') }}">Bread</a>
                        <a class="dropdown-item" href="{{ url_for('category_filter', id='Cake') }}">Cake</a>
                        <a class="dropdown-item" href="{{ url_for('category_filter', id='Biscuit') }}">Biscuit</a>
                        <a class="dropdown-item" href="{{ url_for('category_filter', id='Pastry') }}">Pastry</a>
                    </div>
                </div>
                <div class="col-6 dropdown">
                    <button class="btn dropdown-toggle" type="button" id="DifficultyFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Difficulty
                    </button>
                    <div class="dropdown-menu" aria-labelledby="DifficultyFilter">
                        <a class="dropdown-item" href="{{ url_for('difficulty_filter', id='Easy') }}">Easy</a>
                        <a class="dropdown-item" href="{{ url_for('difficulty_filter', id='Medium') }}">Medium</a>
                        <a class="dropdown-item" href="{{ url_for('difficulty_filter', id='Hard') }}">Hard</a>
                    </div>
                </div>
            </div>
            
            
        </div>
        
        
        
        <div class="dropdown">
            
        </div>

        {% for recipe in recipes %}
            <a class="" href="{{ url_for('recipe', recipe_id=recipe._id) }}">{{ recipe.recipe_name }}</a>
        {% endfor %}
	</section>
{% endblock %}