{% extends "base.html" %}
{% block content %}

	<section aria-label="Find Recipes Page">
        <h2>Find a Recipe</h2>
        <form action="{{ url_for('search')}}" method="post">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <input type="text" name="query" id="query" minlength="3" placeholder="  What are you looking for?" class="validate" required>
                        <label for="query"></label>
                    </div>
                    <div class="col-12">
                            <button type="submit" class="lighten-2 btn-small text-shadow">
                                 <i class="material-icons">search</i>
                            </button>
                            <a href="{{ url_for('find_recipes') }}" class="black btn-small text-shadow">Reset</a>
                    </div>
                </div>
            </div>
        </form>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{{ url_for('category_filter', id='Bread') }}">Bread</a>
                <a class="dropdown-item" href="{{ url_for('category_filter', id='Cake') }}">Cake</a>
                <a class="dropdown-item" href="{{ url_for('category_filter', id='Cookie') }}">Cookie</a>
                <a class="dropdown-item" href="{{ url_for('category_filter', id='Pastry') }}">Pastry</a>
            </div>
        </div>
        {% for recipe in recipes %}
            <a class="" href="{{ url_for('recipe', recipe_id=recipe._id) }}">{{ recipe.recipe_name }}</a>
        {% endfor %}
	</section>
{% endblock %}