{% extends "base.html" %}

{% block header %}

    <!-- Page Title -->
    <h2>{{ recipe.recipe_name }}</h2>

{% endblock %}

{% block content %}

    <!-- Page Content -->
    <div class="container-fluid page-padding">

        <!-- Recipe Intro -->
        <div id="recipe-intro" class="d-flex row flex-row-reverse">

            <!-- Recipe Image -->
            <div id="recipe-img-box" class="col-12 col-md-6">
                <div id="recipe-img">
                    <img src="{{ recipe.recipe_img }}"  onerror="this.src='../../static/images/default-img.png';" alt="{{ recipe.recipe_name }}">
                </div>
            </div>

            <!-- Recipe Information -->
            <div id="recipe-info-box" class="col-12 col-md-6">
                <div id="rec-info" class="row">

                    <!-- Recipe Description -->
                    <div id="rec-description" class="col-12">
                        <p>{{ recipe.description }}</p>
                        {% if recipe.recipe_url %}
                            <p>Original recipe available <a href="{{ recipe.recipe_url }}" target="_blank" rel="noopener">here</a></p>
                        {% endif %}
                    </div>

                    <!-- Recipe Stats -->
                    <div id="rec-stats" class="col-12">
                        <div class="container-fluid">
                            <div class="row">

                                <!-- Recipe Specifications -->
                                <div id="rec-specs" class="col-12">
                                    <div class="row">
                                        <div class="col-6">
                                            <div>
                                                <span class="recipe-icon iconify" data-icon="ant-design:clock-circle-filled" data-inline="true"></span>
                                                <span class="value">{{ recipe.total_time }}</span>
                                                <span class="title">Mins</span>
                                            </div>
                                            <div>
                                                <span class="recipe-icon iconify" data-icon="majesticons:users" data-inline="true"></span>
                                                <span class="title">Serves</span>
                                                <span class="value">{{ recipe.serving }}</span>
                                            </div>
                                        </div>
                                        
                                        <div class="col-6">
                                            <div>
                                                <span class="recipe-icon iconify" data-icon="mdi:chef-hat" data-inline="true"></span>
                                                <span class="value">{{ recipe.difficulty }}</span>
                                            </div>
                                            <div>
                                                {% if recipe.category == 'Bread' %}
                                                    <span class="recipe-icon iconify" data-icon="emojione-monotone:bread" data-inline="true"></span>
                                                {% elif recipe.category == 'Cake' %}
                                                    <span class="recipe-icon iconify" data-icon="mdi:cupcake" data-inline="true"></span>
                                                {% elif recipe.category == 'Biscuit' %}
                                                    <span class="recipe-icon iconify" data-icon="fa-solid:cookie-bite" data-inline="true"></span>
                                                {% else %}
                                                    <span class="recipe-icon iconify" data-icon="mdi:food-croissant" data-inline="true"></span>
                                                {% endif %}
                                                <span class="value">{{ recipe.category }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Recipe Actions -->
                                <div id="rec-btns" class="col-12 no-gutters">
                                    {% if session.user and not user.is_admin %}
                                        {% if session.user|lower == recipe.baker|lower %}
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="recipe-btn">
                                                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" aria-label="Edit"><i class="fas fa-edit"></i> Edit</a>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="recipe-btn red-btn">
                                                        <a href="#" data-toggle="modal" data-target="#modal-{{ recipe._id }}" aria-label="Delete"><i class="fas fa-trash-alt"></i> Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% elif favourited %}
                                            <div class="recipe-btn faves-btn white-btn">
                                                <a href="{{url_for('remove_from_favourites', recipe_id=recipe._id)}}" aria-label="Remove Favourite"><i class="far fa-heart"></i> Remove Favourite</a>
                                            </div>
                                        {% else %}
                                            <div class="recipe-btn faves-btn">
                                                <a href="{{url_for('add_to_favourites', recipe_id=recipe._id)}}" aria-label="Favourite"><i class="fas fa-heart"></i> Favourite</a>
                                            </div>
                                        {% endif %}
                                    {% elif session.user and user.is_admin %}
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="recipe-btn">
                                                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" aria-label="Edit"><i class="fas fa-edit"></i> Edit</a>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="recipe-btn red-btn">
                                                    <!-- Modal Trigger -->
                                                    <a href="#" data-toggle="modal" data-target="#modal-{{ recipe._id }}" aria-label="Delete"><i class="fas fa-trash-alt"></i> Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                        {% if favourited %}
                                            <div class="recipe-btn faves-btn white-btn">
                                                <a href="{{url_for('remove_from_favourites', recipe_id=recipe._id)}}" aria-label="Remove Favourite"><i class="far fa-heart"></i> Remove Favourite</a>
                                            </div>
                                        {% else %}
                                            <div class="recipe-btn faves-btn">
                                                <a href="{{url_for('add_to_favourites', recipe_id=recipe._id)}}" aria-label="Favourite"><i class="fas fa-heart"></i> Favourite</a>
                                            </div>
                                        {% endif %}
                                    {% else %}
                                            <div class="recipe-btn faves-btn white-btn">
                                                <a href="{{url_for('login')}}" aria-label="Login to Favourite"><i class="far fa-heart"></i> Login to Favourite</a>
                                            </div>
                                    {% endif %}
                                    
                                    <!-- Breadcrumb button -->
                                    <div id="go-back" class="recipe-btn">
                                        <button onclick="goBack()" aria-label="Back">
                                            <i class="fas fa-arrow-left"></i> Back
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Recipe -->
        <div class="row no-gutters">

            <!-- Recipe Ingredients -->
            <div class="col-12 col-md-6 col-lg-5">
                <div id="rec-ingredients" class="row">
                    <div class="col-12">
                        <div class="row">
                            <div id="ingredient-title-line" class="col-2">
                                <!-- Empty div to accommodate style for UI purposes -->
                            </div>
                            <div id="ingredient-title" class="col-10">
                                <h3>Ingredients </h3>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-12">
                        <div class="row">
                            <div id="ingredient-line" class="col-2">
                                <!-- Empty div to accommodate style for UI purposes -->
                            </div>
                            <div id="ingredient-list" class="col-10">
                                {% for ingredient in recipe.ingredients %}
                                    <p>{{ ingredient }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

            <!-- Recipe Description -->
            <div id="rec-directions" class="col-12 col-md-6 col-lg-7">
                
                <ol id="directions-list">
                    <li>
                        <h3>Directions</h3>
                    </li>
                    {% for direction in recipe.directions %}
                    <li>
                        <!-- Reference: https://stackoverflow.com/questions/7537439/how-to-increment-a-variable-on-a-for-loop-in-jinja-template -->
                        <span><strong>Step {{ loop.index }}: </strong></span> <br>{{ direction }}
                    </li> 
                    {% endfor %}
                </ol>

            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal-{{ recipe._id }}" tabindex="-1" role="dialog" aria-labelledby="deleteRecipeModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered " role="document">
            <div class="modal-content delete-content">
                <div class="modal-header delete-header">
                    <h2 class="modal-title delete-title" id="deleteRecipeModal">Confirm Your Choice</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="iconify" data-icon="akar-icons:circle-x" data-inline="false"></span>
                    </button>
                </div>
                <div class="modal-body delete-body">
                    <hr class="delete-hr">
                    <h5>Are you <strong>sure</strong> you want to delete the recipe <br> <strong>{{ recipe.recipe_name }}</strong>?</h5>
                    <p>Your creation will be lost!</p>
                    <hr class="delete-hr">
                </div>
                <div class="modal-footer delete-footer">
                    <div class="delete-btn red-btn">
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" aria-label="Yes, Delete!">Yes, Delete!</a>
                    </div>
                    <div class="delete-btn">
                        <a href="#" data-dismiss="modal" aria-label="No, Go Back!">No, Go Back!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>   

{% endblock %}