<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- meta data -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0 , maximum-scale=1, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="Description" content="Bake It 'Til You Make it - online baking recipes book"/>
		<meta name="author" content="Rebecca Tracey-Timoney">
        
        <!-- favicon -->
        <link rel="shortcut icon" href="static/images/favicon.png" title="Bake It 'Til You Make It' Thumbnail Image">

        <!-- Stylesheets -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!-- Bootstrap Import -->
        <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script> <!-- Iconify Import-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css"> <!-- style.css import-->
        {% block styles %}
        {% endblock %}

        <!-- Page title -->
        <title>Bake It 'Til You Make It</title>
    </head>
    <body>
        <div id="lg-wrapper">
            <nav class="navbar navbar-expand-lg sticky-top scroll-nav">
                <a class="navbar-brand d-lg-none" href="{{ url_for('home') }}"><img src="../static/images/logo.png"></a>
                <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#hamburger-nav"
                    aria-controls="hamburger-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="hamburger-nav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Login</a>
                        </li>
                        <a id="lg-logo" class="d-none d-lg-block" href="{{ url_for('home') }}"><img src="../static/images/logo.png"></a>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Find A Recipe</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <section id="main-section" aria-label="Main Section for each page">
                {% block content %}
                {% endblock %}
            </section>

        </div>

        <footer class="text-center fixed-bottom" aria-label="Footer containing Social Icons">
            <div id="disclaimer" class="hide-disclaimer" onclick="hideDisclaimer()">
                <p>This website is created by Rebecca Tracey-Timoney for educational purpose only. Copyright for the recipes on this website go to the original recipe owner.</p> 
            </div>    
            <span class="iconify" data-icon="bi:exclamation-circle-fill" data-inline="false" onclick="showDisclaimer()"></span> Disclaimer
            <div>  &copy; Rebecca Tracey-Timoney <span id="date-text"></span> </div>
        </footer>


        <!-- Scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- jQuery Import -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> <!-- Popper JS Import -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> <!-- Bootstrap JS Import -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" 
                integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous"></script> <!-- JQuery Form Validation -->
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.all.min.js"></script> <!-- Sweet Alert Import-->
		<script src="{{ url_for('static', filename='js/script.js') }}"></script> <!-- script.js Import-->
        {% block scripts %}
        {% endblock %} 

    </body>
</html>