{% extends "base.html" %}
{% block content %}

    <div id="home-title"> 
        <img src="../static/images/header.png" alt="Bake It 'Til You Make It Header">
    </div>

    <div class="container-fluid">
        <div id="home-bio" class="row">
            <div class="col-12 col-lg-6">
                <h4>Welcome Bakers!</h4>
                <p>
                    Our little community is designed to inspire all,
                    so share your favouirte recipes and find your next creation.
                    Get your baking hat on and don't forget:
                </p>
                <h5>Get Inspired | Get Creative</h5>
            </div>
        </div>
    </div>
   
{% endblock %}