{% extends "base.html" %}
{% block content %}

    <!-- <h2>EXTENDING BASE</h2>
    <p>
            {{ recipe.recipe_name }}<br>
            {{ recipe.recipe_img }}<br>
            {{ recipe.recipe_url }}<br>
            {{ recipe.description }}<br>
            {{ recipe.difficulty }}<br>
            {{ recipe.serving }}<br>
            {{ recipe.total_time }}<br>
            {{ recipe.ingredients }}<br>
            {{ recipe.directions }}<br>
            {{ recipe.baker }}<br>
    </p> -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1>{{ recipe.recipe_name }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <h3>{{ recipe.recipe_name }}</h3>
                <p>{{ recipe.description }}</p>
                <div class="row">
                    <div class="col-6">
                        <div>
                            <span class="iconify" data-icon="ant-design:clock-circle-filled" data-inline="true"></span>
                            <span class="value">{{ recipe.total_time }}</span>
                            <span class="title">Minutes</span>
                        </div>
                        <div>
                            <span class="iconify" data-icon="majesticons:users" data-inline="true"></span>
                            <span class="value">{{ recipe.serving }}</span>
                            <span class="title">Serving(s)</span>
                        </div>
                        <div>
                            <span class="iconify" data-icon="fa-solid:mitten" data-inline="true"></span>
                            <span class="value">{{ recipe.difficulty }}</span>
                            <span class="title">Level </span>
                        </div>
                        <div>
                            <span class="iconify" data-icon="mdi:chef-hat" data-inline="true"></span>
                            <span class="title">Baker </span>
                            <!-- <span class="value">{{ recipe.baker }}</span> -->
                        </div>
                    </div>
                    <div class="col-6">
                        
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div id="card-img">
                    <img src="{{ recipe.recipe_img }}" alt="Recipe Image">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6"></div>
            <div class="col-12 col-lg-6"></div>
        </div>
    </div>


{% endblock %}