{% extends "base.html" %}
{% block content %}

    <section aria-label="Edit User Page">
         <!-- Page Title -->
        <div class="page-banner">
            <h2>Edit <span class="db-name">{{ user.username }}</span>'s Profile</h2>
        </div>

        <!-- Page Content -->
        <div class="container-fluid page-padding">

            <!-- Edit User Form -->
            <div class="row accounts-bg">
                <div class="container-fluid">
                    <div class="row accounts-label">
                        <form class="col-12" method="POST" action="{{ url_for('edit_user', username=session['user']) }}">

                            <!-- Username -->
                            <div class="row">
                                <div class="col-12 form-group">
                                    <label for="username"><i class="fas fa-user"></i> Username</label>
                                    <input id="username" name="username" type="text" value="{{ user.username }}" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="form-control" aria-describedby="username" required>
                                </div>
                            </div>

                            <!-- User Image -->
                            <div class="row end-input">
                                <div class="col-12 form-group">
                                    <label for="user_img"><i class="fas fa-image"></i> Profile Picture</label><br>
                                    <p class="mt-0 mb-0"><small>Copy and paste image url or use original</small></p>
                                    <input id="user_img" name="user_img" type="url" value="{{ user.user_img }}" class="form-control" pattern="https?://.+" aria-describedby="user_img" onchange="userImg();">
                                </div>
                                <div class="col-12 img-container">
                                    <!-- Image preview container -->
                                    <img src="" alt="Preview of recipe image input" class="img-preview">
                                </div>
                            </div>

                            <!-- Submit button -->
                            <div class="row no-gutters">
                                <div class="col-6 edit-btn">
                                    <a href="{{ url_for('my_recipes', username=session['user']) }}">Cancel</a>
                                </div>
                                <div class="col-6 edit-btn">
                                    <button type="submit">
                                        Save
                                    </button>
                                </div>
                            </div>

                            <!-- Account Settings -->
                            <div class="row">
                                <div class="col-12 edit-btn">
                                    <a href="{{ url_for('edit_account', username=session['user']) }}">Account Settings</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div> 
            </div>

        </div>
    </section>

{% endblock %}