{% extends "base.html" %}
{% block content %}

    <section aria-label="Edit User Page">
        <!-- Banner image -->
        <div class="banner-img">
            <img src="../static/images/banner.png" alt="Bake It Til You Make it Banner Image">
        </div>

        <div class="container-fluid page-padding">

             <!-- Page Title -->
            <div class="row">
                <div class="col-12 page-title">
                    <h2>Edit <span class="db-name">{{ user.username }}</span>'s Profile</h2>
                </div>
            </div>

            <!-- Edit User Form -->
            <div class="row accounts-bg">
                <div class="container-fluid">
                    <div class="row accounts-label">
                        <form class="col-12" method="POST" action="{{ url_for('edit_user', username=session['user']) }}">

                            <!-- Username -->
                            <div class="row">
                                <div class="col-12 form-group">
                                    <label for="username"><i class="fas fa-user"></i> Username</label>
                                    <input id="username" name="username" type="text" value="{{ user.username }}" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="form-control" required>
                                </div>
                            </div>

                            <!-- User Image -->
                            <div class="row">
                                <div class="col-12 form-group">
                                    <label for="user_img"><i class="fas fa-image"></i> Profile Picture</label><br>
                                    <small>Copy & Paste image URL </small><br>
                                    <input id="user_img" name="user_img" type="url" value="{{ user.user_img }}" class="form-control" required>
                                </div>
                            </div>

                            <!-- Password -->
                            <div class="row">
                                <div class="col-12 form-group">
                                    <label for="password"><i class="iconify" data-icon="mdi:lock" data-inline="true"></i> New Password</label>
                                    <input id="password" name="password" type="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="form-control" required>
                                </div>
                            </div>

                            <!-- Confirm Password-->
                            <div class="row">
                                <div class="col-12 form-group">
                                    <label for="confirm_password"><i class="iconify" data-icon="mdi:lock-check" data-inline="true"></i> Confirm New Password</label>
                                    <input id="confirm_password" name="confirm_password" type="password"  minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="form-control" required> <br>
                                    <span id='message'></span>
                                </div>
                            </div>

                            <!-- Submit button -->
                            <div class="row no-gutters">
                                <div class="col-6 edit-btn">
                                    <a href="{{ url_for('my_recipes', username=session['user']) }}">Cancel</a>
                                </div>
                                <div class="col-6 edit-btn">
                                    <button type="submit">
                                        Save
                                    </button>
                                </div>
                            </div>

                            <!-- Delete Modal -->
                            <div class="row">
                                <div id="delete-user-btn" class="col-12 edit-btn">
                                    <!-- Button trigger -->
                                    <button type="button" class="btn" data-toggle="modal" data-target="#deleteUserModal">
                                        Delete Account
                                    </button>
                                </div>
                                
                                <!-- Modal -->
                                <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteUserModal" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered " role="document">
                                        <div class="modal-content delete-content">
                                            <div class="modal-header delete-header">
                                                <h5 class="modal-title delete-title" id="deleteUserModal">Confirm Your Choice</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span class="iconify" data-icon="akar-icons:circle-x" data-inline="false"></span>                                                </button>
                                            </div>
                                            <div class="modal-body delete-body">
                                                <h4>Are you sure you want to <strong>DELETE</strong> your profile?</h4>
                                            </div>
                                            <div class="modal-footer delete-footer">
                                                <button type="button" class="btn btn-primary">
                                                    <a href="{{ url_for('delete_user', username=user.username) }}">Delete</a>
                                                </button>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div> 
            </div>

        </div>
    </section>

{% endblock %}