{% extends "base.html" %}

{% block header %}

    <!-- Page Title -->
    <h2>Edit <span class="db-name">{{ user.username }}</span>'s Profile</h2>

{% endblock %}

{% block content %}

    <!-- Page Content -->
    <div class="container-fluid page-padding">

        <!-- Edit User Form -->
        <div class="row accounts-bg">
            <div class="container-fluid">
                <div class="row accounts-label">
                    <form class="col-12" method="POST" action="{{ url_for('edit_user', username=session['user']) }}">

                        <!-- User Image -->
                        <div class="row end-input">
                            <div class="col-12 form-group">
                                <label for="user_img"><i class="fas fa-image"></i> Change Profile Image</label><br>
                                <p class="mt-0 mb-0"><small>Copy and paste new image url</small></p>
                                <input id="user_img" name="user_img" type="url" value="{{ user.user_img }}" class="form-control" pattern="https?://.+" aria-describedby="user_img" onchange="userImg();">
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12 current-img img-container">
                                        <p>Current Image:</p>
                                        <img class="img-window" src="{{ user.user_img }}" onerror="this.src='../../static/images/default-user.png';" alt="User's Profile Image">
                                    </div>
                                    <div class="col-12 new-img img-container">
                                        <p>New Image:</p>
                                        <!-- Image preview container -->
                                        <img class="img-window" src="" alt="Preview of recipe image input">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Submit button -->
                        <div class="row no-gutters edit-btns">
                            <div class="col-6 edit-btn white-btn">
                                <a href="{{ url_for('my_recipes', username=session['user']) }}">Cancel</a>
                            </div>
                            <div class="col-6 edit-btn">
                                <button type="submit">
                                    Save
                                </button>
                            </div>
                        </div>

                        <!-- Account Settings -->
                        <div class="row">
                            <div class="col-12 edit-btn end-edit-btn red-btn">
                                <a href="{{ url_for('edit_account', username=session['user']) }}">Account Settings</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div> 
        </div>

    </div>

{% endblock %}