{% extends "base.html" %}
{% block nav_login %}active{% endblock %}
{% block content %}

    <section aria-label="User Log in Page">
        <!-- Page Title -->
        <div class="page-banner">
            <h2>Log In</h2>
        </div>

        <!-- Page Content -->
        <div id="login-page" class="container-fluid page-padding">

            <!-- Log In Form -->
            <div class="row accounts-bg">
                <div class="contiainer-fluid">
                    <div class="row accounts-label">
                        <form class="col-12" method="POST" action="{{ url_for('login') }}">

                            <div class="row">
                                <div class="col-12 page-intro">
                                    <p>Sign into your account and start baking!</p>
                                </div>
                            </div>

                            <!-- Username -->
                            <div class="row">
                                <div class="col-12 form-group">
                                    <label for="username"><i class="fas fa-user"></i> Username</label>
                                    <input id="username" name="username" type="text" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="form-control" aria-describedby="username" required>
                                </div>
                            </div>

                            <!-- Password -->
                            <div class="row">
                                <div class="col-12 form-group">
                                    <label for="password"><i class="iconify" data-icon="mdi:lock" data-inline="true"></i> Password</label>
                                    <input id="password" name="password" type="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="form-control" aria-describedby="password" required>
                                </div>
                            </div>

                            <!-- Submit button -->
                            <div class="row">
                                <div class="col-12 accounts-btn">
                                    <button type="submit">
                                        Log In <i class="fas fa-sign-in-alt"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-12 accounts-link">
                            <p>
                                Don't have an account? <a href="{{ url_for('register') }}">Sign Up</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </section>

{% endblock %}